
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;

}

/*Header styles*/
.global-bg {
    background-color: #f3f4f6;
    margin: 0;
    font-family: Arial, sans-serif;
}

.myfinance-header {
    background-color: #047857;
    color: white;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.myfinance-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.myfinance-logo-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.myfinance-logo {
    width: 48px;
    height: 48px;
    background-color: black;
    color: #10b981;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 50%;
}

.myfinance-site-name {
    font-size: 1.75rem;
    font-weight: bold;
}

.myfinance-nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
}

.myfinance-nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.myfinance-nav-links li a:hover {
    color: black;
}


/*Footer Styles*/
footer {
    position: relative;
    width: 100%;
    bottom: 0;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    color: black;
}

/*Login Styles*/
.login{
    text-align:center;
}

